/*
----------------------------------------------------------------------------------------------------
CSS 선택자 (Selectors)
----------------------------------------------------------------------------------------------------
CSS 에는 문서의 요소(대상)을 선택하여 꾸밀 수 있도록 대상을 선택할 수 있는 선택자 제공한다.

  [요소 선택자 (Element Type Selector)]
    figure { ... }


  [그룹핑 (Grouping)]
    a, abbr { ... }


  [전체 선택자 (Universal Selector)]
    * { ... }


  [자손 선택자 (Descendent Selector)]
    h1 abbr { ... }


  [자식 선택자 (Child Selector)]
    .parent > .child { ... }


  [클래스 선택자 (Class Selector)]
    .class { ... }


  [멀티 클래스 선택자 (Mutil Class Selector)]
    .class1.class2 { ... } - 하나의 요소가 두 개의 클래스를 가졌을 경우

  [멀티 클래스 선택자와 아래의 문법과 엄연히 다르다!! ]
    .class1 .class2 {...} 


  [아이디 선택자 (ID Selector)]
    #id { ... }


*/

h1 { font-weight: normal; }

/* Grouping */
a, abbr { color: #2fb56e; }

/* Universal */
* {
  /* border: 1px solid #2fb56e; */
}

/* Descendent : h1 내에 있는 abbr 요소에게만 적용 */
h1 abbr { background-color: #ffff00; }

/* Mutil */
.note { font-size: 20px; }

.note.box { border: 1px solid red; }

/* ID */
#about-css { padding: 30px; }
.div{
  background: #ce93d8;
}
