body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f8f8;
}

img {
  max-width: 800px;
  width: 90%;
  height: auto;
  margin-top: 20px;
}